@page "/bestill"

@using Models;
@using System.Text
@using ZelmasBakeriApp.Components.Layout

@inject IEmailSender _emailSender;
@inject IDbAccess _db;
@inject NavigationManager _navigation;


@rendermode InteractiveServer

<PageTitle>Bestill</PageTitle>
@if (cakes is null)
{
    <p>Laster inn kakene...</p>
} else { 
        <div id="wrapper">
            <div id="main">
                <div class="inner">
                    <h1>HVILKEN KAKE VIL DU HA?</h1>
                </div>
                
                <div class="inner">
                        <div class="box alt">
                            <div class="row gtr-uniform">
                                <div class="container">
                                    @foreach (var c in cakes!)
                                    {
                                        <div class="row">
                                            <div class="col-4">
                                                <span class="image fit">
                                                    <img src="images/@c.Image" alt="" />
                                                </span>
                                            </div>
                                            <div class="col-8">
                                                <h3>@c.Name</h3>
                                                <p>@c.Description</p>
                                                <button type="button" data-cake-id="@c.Id" class="bestill-btn" @onclick="() => clicked(c.Id, c.Name)">@((MarkupString)buttonTexts[c.Id])</button>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                </div>
            </div>
            <Footer>
                @if(editContext is not null)
                {
                    <EditForm EditContext="@editContext" OnSubmit="HandleSubmit">
                        <DataAnnotationsValidator />

                            <label for="name">Navn</label>
                            <InputText @bind-Value="formData.Name" id="name" class="form-control" placeholder="Ditt navn" />
                            <ValidationMessage For="@(() => formData.Name)" />
                            <br />
                            
                            <label for="email">E-post</label>
                            <InputText @bind-Value="formData.Email" @onblur="CheckEmailUnique" id=email class="form-control" placeholder="Din e-postadresse" />
                            <ValidationMessage For="@(() => formData.Email)" />

                            <br />
                            
                            <ValidationMessage For="@(() => formData.Basket)" />


                            <label for="comments">Kommentarer (allergier, ønsker til leverigsdato, størrelse, pynt osv.)</label>
                            <InputTextArea @bind-Value="formData.Comments" id=comments class="form-control" placeholder="Dine kommentarer" />
                            <br>
                            
                            <button type="button" disabled="@(!isValid || isProcessingSubmit)" @onclick="()=>showModal=true">SEND BESTILLING</button>

                            <ValidationSummary />
                    </EditForm>
                }
            </Footer>
        </div>
         
}


<Modal IsVisible="@showModal"
        Title="Bekreft bestillingen"
        OnClose=CloseConfirmation
        OnSubmit="HandleSubmit">
        <h3>Bekreft bestillingen din:</h3>
        <p>Navn: @formData.Name</p>
        <p>E-post: @formData.Email</p>
        <p>Kommentarer: @(formData?.Comments ?? "")</p>
        <p>Kaker:</p>
        @foreach(var (_, cake) in formData!.Basket) {
            <p>  - @cake</p>
        } 
        @if (isProcessingSubmit)
        {
            <div class="mt-2">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Processing...</span>
                </div>
            </div>
        }
</Modal>

                                            



<ModalBekreft IsVisible="@showConfirmation"
       Title="Ordrebekreftelse"
       OnClose="CloseConfirmation">
       <h3>TUSEN TAKK FOR BESTILLINGEN</h3>
       <p>Jeg har mottatt bestillingen din.</p>
       <p>Du skal ha mottatt en automatisk e-post fra meg med detaljene. </p>
       <p>(Sjekk ev. spam-filter dersom du ikke ser den.)</p>
</ModalBekreft>


@code {
    private ValidationMessageStore? messageStore;
    EditContext? editContext;
    private bool isValid = false;
    private FormData formData = new();

    private List<Cake>? cakes;

    private bool showModal = false;
    private bool showConfirmation = false;

    private bool isProcessingSubmit = false;

    protected override async Task OnInitializedAsync()
    {
        cakes = await GetAllCakes();
        editContext = new EditContext(formData);
        messageStore = new ValidationMessageStore(editContext);
        foreach (var i in cakes) {
            buttonTexts.Add(i.Id, "LEGG TIL");
        }
        AttachEditContextHandlers();
    }




    private void AttachEditContextHandlers()
    {
        if (editContext is not null)
        {
            editContext.OnFieldChanged += (_, __) => ValidateForm();
            editContext.OnValidationStateChanged += (_, __) => ValidateForm();
            editContext.OnValidationRequested += async (sender, eventArgs) => await CheckEmailUnique(null);

        }
    }


    private void ValidateForm()
    {
        isValid = editContext is null ? true : !editContext.GetValidationMessages().Any();
    }

    private async Task CheckEmailUnique(FocusEventArgs? args = null)
    {
        // Clear previous messages
        messageStore?.Clear(fieldIdentifier: new FieldIdentifier(formData, nameof(formData.Email)));

        if (!string.IsNullOrWhiteSpace(formData.Email))
        {
            var customer = await _db.GetCustomerByEmail(formData.Email);
            if (customer is not null && formData.Name != customer?.Name)
            {
                messageStore?.Add(
                    new FieldIdentifier(formData, nameof(formData.Email)),
                    $"E-postadresse er allerede i bruk med et annet navn");
            }
        }
        // Force re-validation and UI update
        editContext?.NotifyValidationStateChanged();
        ValidateForm();
    }

    Dictionary<Int64, string> buttonTexts = new();

    private void ChangeButtonText(Int64 id)
    {
        buttonTexts[id] = buttonTexts[id] == "LEGG TIL" ? "FJERN" : "LEGG TIL";
    }

    private async Task HandleSubmit()
    {
        isProcessingSubmit = true;

        //Dummy logic to simulate loading data.
        await Task.Delay(2000);

        editContext!.Validate();

        await CheckEmailUnique(null);

        isValid = !editContext.GetValidationMessages().Any();

        if (!isValid)
        {
            Console.WriteLine("In here");
            isProcessingSubmit = false;
            showModal = false;
            StateHasChanged();
            return; // Do not proceed
        }


        //messageStore?.Clear(new FieldIdentifier(formData, nameof(formData.Email)));

        await Task.Run(()=>Console.WriteLine("Valid submission"));
        Console.WriteLine("Basket: ");
        foreach(var i in formData.Basket) {
            Console.WriteLine(i);
        }
        
        var customer = await _db.GetCustomerByEmail(formData.Email!);
        if (customer is null)
        {
            customer = new Customer{Email = formData.Email!, Name = formData.Name!};
            await _db.RegisterCustomer(customer);
        }
        HashSet<Cake> cakes = new();
        foreach (var (id, _) in formData.Basket) {
            var cake = await _db.GetCakeById(id);
            if (cake is not null) {
                cakes.Add(cake);
            }
        }
        var order = new Order {   
            CustomerId = customer!.Id, 
            CustomerName = customer.Name, 
            CustomerEmail = customer.Email,
            Comments = formData.Comments,
            Date = DateTime.Now,
            Cakes = cakes
        };
        await _db.RegisterOrder(order);
        
        var allOrders = await _db.GetAllOrderDetails();


        foreach (var o in allOrders)
        {
            Console.WriteLine($"Order ID: {o.Id}, Customer ID: {o.CustomerId}, Customer name: {o.CustomerName}, Date: {o.Date}, Comments: {o.Comments} Cakes:");
            foreach(var c in o.Cakes.Select(c=>c.Name))
            {
                Console.WriteLine($"  - {c}");
            }
        }
        await SendConfirmationEmail(order);

        formData.Basket.Clear();
        formData.Comments = "";
        formData.Email = "";
        formData.Name = "";
        
        editContext = new EditContext(formData); 
        messageStore = new ValidationMessageStore(editContext); 

        AttachEditContextHandlers();

        foreach (var (k, v) in buttonTexts)
        {
            buttonTexts[k] = "LEGG TIL";
        }
        
        isValid = false;    
        isProcessingSubmit = false;
        showModal = false;
        showConfirmation = true;
        StateHasChanged();
    }

    private async Task<List<Cake>> GetAllCakes()
    {
        var output = await _db.GetAllCakes();
        if (output.Count == 0)
        output = new List<Cake>() {
            new Cake(1, "Tiramisu",  300, "Deilig tiramisu", "Tiramisu.jpeg"),
            new Cake(2, "Gulrot kake", 200,"Deilig gulrotkake", "GulrotKake.jpeg"),
            new Cake(3, "Makroner", 50,"Makroner i forskjellige farger og smak. 6 stk boks.", "Makroner.jpeg"),
            new Cake(4, "Vanlijekake", 300,"Perfekt for One Piece-fans", "OnePieceVaniljekake.jpeg")
        };
        return output;
    }

    private void clicked(Int64 id, string name)
    {
      
        if (!formData.Basket.Any(x => x.Item1 == id))
        {
            formData.Basket.Add((id, name));
            buttonTexts[id] = "FJERN";
        }
        else
        {
            formData.Basket.Remove((id, name)); // Remove by id
            buttonTexts[id] = "LEGG TIL";
        }


        editContext.Validate();
        ValidateForm();

        isValid = !editContext.GetValidationMessages().Any();
        StateHasChanged();
    }

    private void CloseConfirmation()
    {
        showConfirmation = false;
        showModal = false;
        Console.WriteLine("Closing confirmation");
    }

    private string GetConfirmationMessage(Order order)
    {
        StringBuilder sb = new();
        sb.AppendLine("TUSEN TAKK FOR DIN BESTILLING!");
        sb.AppendLine("Jeg tar kontakt med deg på e-post så snart som mulig for å avtale detaljene.");
        sb.AppendLine($"Ordrenummer: {order.Id}");
        sb.AppendLine($"Navn: {order.CustomerName}");
        sb.AppendLine($"E-postadresse: {formData.Email!}");
        sb.AppendLine(order.Comments is not null ? $"Kommentar: {order.Comments!}" : "");
        sb.AppendLine("Du har bestilt følgende kaker:");
        
        foreach (var cakeName in order.CakeNamesList) {
            sb.AppendLine($"  - {cakeName}");
        }

        return sb.ToString();
    }

    private async Task SendConfirmationEmail(Order order)
    {
        var lines = GetConfirmationMessage(order)
                            .Split('\n')
                            .Select(l=>$"<p>{l}</p>");
        var message = String.Join(" ", lines);
        await _emailSender.SendEmailAsync(formData.Email!, $"[ZELMAS BAKERI] Bestilling (no. {order.Id}) mottatt", message!);
        //await Task.Run(()=>_emailSender.SendEmail("zelmasbakeri@gmail.com", $"[ZELMAS BAKERI] Bestilling (no. {order.Id}) mottatt", message!));
    }
} 