@page "/tilbakemeldinger"
@using System.ComponentModel.DataAnnotations
@using ZelmasBakeriApp.Components.Layout

@rendermode InteractiveServer

@inject IDbAccess _db;
@inject IEmailSender _emailSender;
@inject IConfiguration _config;

<PageTitle>Tilbakemeldinger</PageTitle>

<div id="wrapper">
    <div id="main">
        <div class="inner">
            <section>
                <h1>Hva syntes du om kaken?</h1> 
                <h2>Skriv gjerne en tilbakemelding eller vurdering!</h2>
                @if (editContext is not null)
                {
                    <EditForm Model="@formData" FormName="ReviewForm" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator/>
                        <div class="fields">
                            <div class="field">
                                <InputText class="form-control" @bind-Value="formData.Name" placeholder="Ditt navn" type="text" id="username"/>
                                <label for = "username">Navn (valgfritt)</label>
                            </div>
                            <div class="field">
                                <InputTextArea class="form-control" id="message" @bind-Value="formData.Message" placeholder="Din melding" rows="5"/>
                                <label for="message">Tilbakemelding</label>

                                <ValidationMessage For = "@(()=>formData.Message)"/>
                            </div>
                        </div>
                        <button type="submit">Send</button>
                    </EditForm>
                }

            </section>
            <div>
                
                                    

                @if (reviews is null)
                {
                    <p><em>Laster inn tilbakemeldinger...</em></p>
                }
                else if (reviews.Count == 0)
                {
                    <p><em>Ingen tilbakemeldinger tilgjengelig.</em></p>
                }
                else
                {
                <h3>Tidligere tilbakemeldinger og vurderinger</h3>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Navn</th>
                                    <th>Dato</th>
                                    <th>Tilbakemelding</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var review in reviews.Where(r=>r.Visible)) {
                                    <tr>
                                        <td>@review.Name</td>
                                        <td>@review.CreatedAt.ToLongDateString()</td>
                                        <td>@review.Message</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                }
                </div>
                <!-- </div> -->
        </div>
    </div>
    <Footer/>
</div>


@code {
    private List<Review>? reviews;

    private FormModel formData = new();

    private EditContext? editContext;

    private ValidationMessageStore? messageStore;

    private async Task HandleValidSubmit()
    {
        var name = (formData.Name is null || formData.Name.Length == 0) ? "Anonym tilbakemelding" : formData.Name; 
        var review = new Review(
            0, 
            name, 
            formData.Message ?? "Ingen tilbakemelding", 
            DateTime.Now);
        await _db.RegisterReview(review);
        var message = ($"<h2>Name: {name}</h2> <p>Message: {formData.Message}</p>");
        var subject = $"[ZELMAS BAKERI] New review on website from {name}";
        await _emailSender.SendEmailAsync(_config?.GetValue<string>("EmailSettings:UserName") ?? "zelmasbakeri@gmail.com", subject, message);
        await Reset();
    }

    public async Task Reset()
    {
        formData.Name = null;
        formData.Message = null;
        reviews = await _db.GetAllReviews();
        StateHasChanged();

    }

    public class FormModel
    {
        public string? Name { get; set; }

        [Required(ErrorMessage = "Husk å legge inn en melding")]
        public string? Message { get; set; }

        public bool AnonymousMessage { get; set; } = false;
    }

    private void HandleValidationRequested(object? sender,
        ValidationRequestedEventArgs args)
    {
        messageStore?.Clear();

    }

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(formData);
        editContext.OnValidationRequested += HandleValidationRequested;
        messageStore = new(editContext);
        reviews = await _db.GetAllReviews();
    }


}
